<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Header -->
        <header class="header">
            <div class="mobile-view">
                <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
            </div>
            <div class="header-middle d-none d-lg-block">
                <div class="container">
                    <div class="header-col">
                        <div class="logo header-logo">
                            <a href="index.html" class="d-none d-lg-block"><img src="assets/img/logo.png" alt="logo"></a>
                            <a href="index.html" class="d-lg-none d-sm-block"><img src="assets/img/logo-01.png" alt="logo"></a>
                        </div>
                        <div class="header-right">
                            <div class="header-search">
                                <form action="javascript:;">
                                    <select class="select-active">
                                        <option>Select Pincode</option>
                                        <option>628233</option>
                                        <option>528233</option>
                                        <option>228233</option>
                                        <option>428233</option>
                                        <option>128233</option>
                                    </select>
                                    <input type="text" placeholder="Search for medicines, health products and more">
                                    <input type="submit" name="form-submit" class="submit-btn popup-toggle3">
                                </form>
                            </div>
                            <div class="header-details">
                                <div class="header-inner">
                                    <div class="header-inner-icon ">
                                        <a class="small-cart-icon" href="javascript:;">
                                            <i class="feather-heart"></i>
                                            <span class="pro-count blue">0</span>
                                        </a>
                                        <div class="cart-dropdown-wrap">
                                            <ul>
                                                <li>
                                                    <div class="shopping-cart-img">
                                                        <a href="view-product.html"><img src="assets/img/shop/cart-img-02.jpg" alt=""></a>
                                                    </div>
                                                    <div class="shopping-cart-title">
                                                        <h4><a href="view-product.html">Liver Detox Pills </a></h4>
                                                        <h4>(x 10)</h4>
                                                    </div>
                                                    <div class="shopping-cart-value">
                                                        <h2>$15.00</h2>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="shopping-cart-img">
                                                        <a href="view-product.html"><img src="assets/img/shop/cart-img-03.jpg" alt=""></a>
                                                    </div>
                                                    <div class="shopping-cart-title">
                                                        <h4><a href="view-product.html">Heat Meter </a></h4>
                                                        <h4>(x 10)</h4>
                                                    </div>
                                                    <div class="shopping-cart-value">
                                                        <h2>$18.00</h2>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="shopping-cart-footer">
                                                <div class="shopping-cart-total">
                                                    <h4>Total <span>$3000.00</span></h4>
                                                </div>
                                                <div class="shopping-cart-btn">
                                                    <a href="cart.html" class="outline">View cart</a>
                                                    <a href="checkout.html">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header-inner-icon ">
                                        <a class="small-cart-icon me-3" href="javascript:;">
                                            <i class="feather-shopping-bag"></i>
                                            <span class="pro-count blue">1</span>
                                        </a>
                                        <div class="cart-dropdown-wrap">
                                            <ul>
                                                <li>
                                                    <div class="shopping-cart-img">
                                                        <a href="view-product.html"><img src="assets/img/shop/cart-img-01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="shopping-cart-title">
                                                        <h4><a href="view-product.html">Antiseptic Spray</a></h4>
                                                        <h4>(x 10)</h4>
                                                    </div>
                                                    <div class="shopping-cart-value">
                                                        <h2>$32.00</h2>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="shopping-cart-img">
                                                        <a href="view-product.html"><img src="assets/img/shop/cart-img-02.jpg" alt=""></a>
                                                    </div>
                                                    <div class="shopping-cart-title">
                                                        <h4><a href="view-product.html">Liver Detox Pills </a></h4>
                                                        <h4>(x 10)</h4>
                                                    </div>
                                                    <div class="shopping-cart-value">
                                                        <h2>$32.00</h2>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="shopping-cart-img">
                                                        <a href="view-product.html"><img src="assets/img/shop/cart-img-03.jpg" alt=""></a>
                                                    </div>
                                                    <div class="shopping-cart-title">
                                                        <h4><a href="view-product.html">Heat Meter </a></h4>
                                                        <h4>(x 10)</h4>
                                                    </div>
                                                    <div class="shopping-cart-value">
                                                        <h2>$32.00</h2>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="shopping-cart-footer">
                                                <div class="shopping-cart-total">
                                                    <h4>Total <span>$4000.00</span></h4>
                                                </div>
                                                <div class="shopping-cart-btn">
                                                    <a href="cart.html" class="outline">View cart</a>
                                                    <a href="checkout.html">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="header-col">
                        <div class="logo header-logo d-block d-lg-none">
                            <a href="index.html" class="d-none d-lg-block"><img src="{{ asset('assets/img/logo.png') }}"></a>
                            <a href="index.html" class="d-sm-block"><img src="assets/img/logo-01.png" alt="logo"></a>
                        </div>
                        <div class="header-nav d-none d-lg-flex">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" href="#">All Medicines <i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                <li><a href="view-product.html">COVID Medicines</a></li>
                                                <li><a href="view-product.html">Ayrvedic Medicines</a></li>
                                                <li><a href="view-product.html">Health Equipments</a></li>
                                                <li><a href="view-product.html">Personal Care</a></li>
                                                <li><a href="view-product.html">Fitness Suppliments</a></li>
                                                <li><a href="view-product.html">Childcare</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">COVID Medicines <i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                <li><a href="view-product.html">Stimulants</a></li>
                                                <li><a href="view-product.html">Opoids</a></li>
                                                <li><a href="view-product.html">Antibiotics</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Ayrvedic Medicines <i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                <li><a href="view-product.html">Calcitonin</a></li>
                                                <li><a href="view-product.html">Echinocandins</a></li>
                                                <li><a href="view-product.html">Handicraft</a></li>
                                                <li><a href="view-product.html">Suppositories</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Health Equipments <i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                <li><a href="view-product.html">Medical Supplies</a></li>
                                                <li><a href="view-product.html">Pulse Oximeters</a></li>
                                                <li><a href="view-product.html">Examination Gloves</a></li>
                                                <li><a href="view-product.html">Baby Care</a></li>
                                                <li><a href="view-product.html">Respiratory</a></li>
                                                <li><a href="view-product.html">Medical Equipment</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Personal Care <i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                <li><a href="view-product.html"> Digital Glucose Meter</a></li>
                                                <li><a href="view-product.html">Digital Thermometer</a></li>
                                                <li><a href="view-product.html">Cotton Mask</a></li>
                                                <li><a href="view-product.html">Kids Thermometer</a></li>
                                                <li><a href="view-product.html">Face Mask</a></li>
                                                <li><a href="view-product.html">Digital Meter</a></li>
                                            </ul>
                                        </li>
                                        <li class="position-static">
                                            <a href="#">Mega Menu <i class="fi-rs-angle-down"></i></a>

                                            <ul class="mega-menu">
                                                <li class="sub-mega-menu sub-mega-menu-two">
                                                    <div class="menu-banner-wrap">
                                                        <div class="menu-banner-content">
                                                            <p>WEEKEND DISCOUNT 20%</p>
                                                            <h4>Blood Pressure</h4>
                                                            <h3>Monitor Upper Arm</h3>
                                                            <div class="menu-banner-price">
                                                                <span class="new-price">Save to 20%</span>
                                                            </div>
                                                            <div class="menu-banner-btn">
                                                                <a href="cart.html">Shop All</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="sub-mega-menu sub-mega-menu-one">
                                                    <a class="menu-title" href="#">Shop Layouts</a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-grid.html">Shop Grid</a></li>
                                                        <li><a href="shop-list.html">Shop List</a></li>
                                                        <li><a href="shop-grid-left.html">Shop Left Sidebar</a></li>
                                                        <li><a href="shop-grid-right.html">Shop Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="sub-mega-menu sub-mega-menu-one">
                                                    <a class="menu-title" href="#">Product Layouts</a>
                                                    <ul>
                                                        <li><a href="view-product.html">View Product</a></li>
                                                        <li><a href="product-left-sidebar.html">Product Left Sidebar</a></li>
                                                        <li><a href="product-right-sidebar.html">Product Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="sub-mega-menu sub-mega-menu-one">
                                                    <a class="menu-title" href="#">Product Type</a>
                                                    <ul>
                                                        <li><a href="store-listing.html">Store Listing</a></li>
                                                        <li><a href="store-single.html">Store Single</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="account.html">My Account</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
