<form method="post" action="{{ path('app_slide_home_delete', {'id': slide_home.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide_home.id) }}">
    <button class="btn">Delete</button>
</form>
