<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% include 'partials/stylesheet.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include 'partials/header.html.twig' %}
    </header>
        <br>
        <br>
    <main class="main" role="main">
        {% if carousel is defined %}

            {% include "_carousel.html.twig" %}
        {% else %}
            {% set margin = 'mt-5' %}
        {% endif %}
        <div class="container {{margin ?? 0}}">
            {% block body %}{% endblock %}
        </div>
    </main>
        <footer class="footer-custom">
        {% include 'partials/footer.html.twig' %}
        </footer>
    </body>
</html>
